<!DOCTYPE html>
<!-- Código  CSS -->
<html>
<head>
<title>grupo 3-F</title>

<style >

div.a {
	text-align: center; font-family: Helvetica,  sans-serif }  

div.b {
    text-align: left; font-family: Helvetica,  sans-serif }  

body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #f8f8f7 }
ul.navbar {
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
    text-align: center;
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
   
</style>
<div div class="b"></div>
    <header >
        <a  href="#" id="btn-mobile"><i ></i></a>
        <a  href="#">Cerrar Sesion</a>
        <a  href="index.html"><i ></i> </a>
    </header>
</div> 
</head>


<!-- Contenido de la página web -->
<body>
<!-- Cabecera de la página web -->
<div div class="b"></div>
    <header >
        <a  href="#" id="btn-mobile"><i ></i></a>
        <a  href="#">inicio</a>
        <a  href="index.html"><i ></i> </a>
        
    </header>
</div> 
<div>
<h1>Sistema de inventario para tienda de accesorios  </h1>
<h2></h2>
</div>
<div>
    <img src="img/mision tic.jpg" alt="misiontic" style="margin:auto; width:200px;display:block" />
</div>
<!-- Fin de la cabecera de la página web -->
<br />
<!-- Contenedor para la parte central -->
<div div class="a">
    
    <div class="columns">
        <div class="column">
            <h2 >Registro Nuevo Usuario</h2>
            <form action="#" class="a">
                <input type="email" placeholder="Nombre de usuario" class="a"> <br> </br>
                <input type="password" placeholder="password" class="a"> <br> </br>
                <input type="password" placeholder="Confirma tu password" class="a"><br> </br>
                <button class="btn btn-default btn-primary">Crear Usuario</button><br> </br>
            </form>
        </div>
    
        
       
    </div>
</div>  

</html>