 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario ¦ Log In</title>
    
    <link rel="stylesheet"  href="../static/css/loginstyle.css"/>
    
</head>
<body>
    
    <div class="style">
                
        <h2 class="style-header">Log in</h2>
        <div class="style-container">
    
        <form action="" method="post">

        <p><input required type="" name="username" id="username"placeholder="Nombre Usuario"></p>
        <br><br>
    
        
        <p><input required type="password" name="password" id="password"placeholder="Contraseña"></p>
        <br><br>

        <a href="{{ url_for('recuperar_psswd') }}">Olvido su Contraseña?</a>
         <br><br>


        <button onclick="validate()"type="button" id="ingresar">Ingresar</button>
        </form>
    </div>
    
    <script src="../static/js/login.js"></script>
      
      
</body>