
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<link href="sistemaiventariosmintic.css" rel="stylesheet">
<link href="INVENTARIO-Team-F\css\panel_admin.css" rel="stylesheet">
</head>
<body>
<div id="wb_Text1" style="position:absolute;left:307px;top:79px;width:576px;height:94px;text-align:center;z-index:0;">
<span style="color:#000000;font-family:Arial;font-size:29px;line-height:34px;"><strong>Sistema de inventarios para tienda de accesorios&nbsp; </strong></span><span style="color:#000000;font-family:Arial;font-size:16px;line-height:16px;"><strong><br></strong></span></div>
<div id="wb_Image1" style="position:absolute;left:498px;top:163px;width:194px;height:192px;z-index:1;">
<img src="images/logo2.png" id="Image1" alt=""></div>
<input type="submit" id="Button1" name="Registrar usuario " value="Crear  usuario  nuevo" style="position:absolute;left:292px;top:465px;width:153px;height:25px;z-index:2;">
<input type="button" id="Button2" name="Crear  producto" value="Crear  producto" style="position:absolute;left:519px;top:465px;width:153px;height:25px;z-index:3;">
<input type="button" id="Button3" name="Actualizar producto" value="Actualizar producto" style="position:absolute;left:519px;top:508px;width:153px;height:25px;z-index:4;">
<input type="button" id="Button4" name="Eliminar producto" value="Eliminar producto" style="position:absolute;left:519px;top:547px;width:153px;height:25px;z-index:5;">
<div id="wb_Text2" style="position:absolute;left:307px;top:382px;width:576px;height:54px;text-align:center;z-index:6;">
<span style="color:#000000;font-family:Arial;font-size:24px;line-height:39px;"><strong>Bienvenido administrador</strong></span><span style="color:#000000;font-family:Arial;font-size:16px;line-height:16px;"><strong><br></strong></span></div>
<div id="wb_Logout1" style="position:absolute;left:970px;top:88px;width:94px;height:23px;text-align:center;z-index:7;">
<form name="logoutform" method="post" >" id="logoutform">
<input type="hidden" name="form_name" value="logoutform">
<button type="submit" name="logout" value="Cerrar sesión" id="Logout1">Cerrar sesión</button>
</form>
</div>
<input type="button" id="Button5" name="Modificar inventario" value="Modificar inventario" style="position:absolute;left:746px;top:465px;width:153px;height:25px;z-index:8;">
<input type="button" id="Button6" name="Consultar producto" value="Consultar producto" style="position:absolute;left:519px;top:585px;width:153px;height:25px;z-index:9;">
</body>
</html>